.add-form {
    max-width: 400px;
    padding: 20px;
}

.add-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.add-form button {
    width: 100%;
    padding: 12px;
    border: none;
    color: white;
    background: #1d4ed8;
    border-radius: 6px;
}