.sidebar {
    width: 220px;
    background: #0f172a;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar a {
    display: block;
    margin-top: 15px;
    color: white;
    text-decoration: none;
}